# Supabase Configuration
SUPABASE_URL= https://pkcsfpmyyzilmeolygor.supabase.co
SUPABASE_PUBLISHABLE_KEY= sb_publishable_W0EuMv_TgxF-vTn38Zhxrg_fAaaZhb7
SUPABASE_SECRET_KEY= sb_publishable_W0EuMv_TgxF-vTn38Zhxrg_fAaaZhb7